
*.class
trace
*.pdf
out/production/RegexKit/test1.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/test3.sc
out/production/RegexKit/testguard.sc
out/production/RegexKit/testparse.sc
out/production/RegexKit/testpretty.sc
out/production/RegexKit/test2.sc
out/production/RegexKit/testparse.sc
out/production/RegexKit/testparse.sc
out/production/RegexKit/test2.sc
out/artifacts/regexkit.jar
out/production/RegexKit/testbranched.sc
