
*.class
trace
*.pdf
out/production/RegexKit/test1.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
out/production/RegexKit/sufrin/regex/testparse.sc
